.App {
  text-align: center;
}
.items, .comments {
  border-bottom: 1px solid orange;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.comments {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.comments > div {
  border: 1px solid #000;
  padding: 3px;
}
button {
  outline: none;
  border: none;
  margin: 10px;
  padding: 5px;
  background-color: beige;
  color: gray;
  border-radius: 5px;
}